In [3]:
import pandas as pd

In [5]:
data = pd.read_excel('D:\\Projects\\Uczelnia\\AiBD\\AiBD\\TIER\\Orginal_data\\dem_score.csv', delimiter=';')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [53]:
data.head()

     country  1952  1957  1962  1967  1972  1977  1982  1987  1992
0    Albania    -9    -9    -9    -9    -9    -9    -9    -9     5
1  Argentina    -9    -1    -1    -9    -9    -9    -8     8     7
2    Armenia    -9    -7    -7    -7    -7    -7    -7    -7     7
3  Australia    10    10    10    10    10    10    10    10    10
4    Austria    10    10    10    10    10    10    10    10    10

In [54]:
data_melt = pd.melt(data, id_vars=["country"])

In [58]:
data_melt.head()

     country variable  value
0    Albania     1952     -9
1  Argentina     1952     -9
2    Armenia     1952     -9
3  Australia     1952     10
4    Austria     1952     10

In [61]:
data_rename = data_melt.rename(columns={"variable":"year", "value":"lvl_of_democracy"})#df.rename(columns={"A": "a", "B": "c"})

In [62]:
data_rename.head()

     country  year  lvl_of_democracy
0    Albania  1952                -9
1  Argentina  1952                -9
2    Armenia  1952                -9
3  Australia  1952                10
4    Austria  1952                10

In [64]:
data_rename.to_csv('/Users/pawelkocwa/Documents/STUDIA/SEMESTR_7/AiBD/Lab1/TIER_Documetnation_TB/Analysis_data/dem_score_.csv')